*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto',sans-serif;
  background-color:#f6f6f6;
}

.container{
  max-width: 85%;
  margin:auto;
 
}

.flexSB{
  display: flex;
  justify-content: space-between;
}

.icon{
  width:40px;
  height:40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  background-color: rgba(255,255,255,0.4);
  color:#1eb2a6;
  transition: 0.5s;
}

.icon:hover{
  cursor: pointer;
  color:white;
  background-color: #1eb2a6;
}
a{
  text-decoration: none;
}
li{
  list-style-type: none;
}
button{
  border:none;
  padding:17px 30px;
  background-color: #f6f6f6;
  color:#1eb2a6;
font-weight: 600;
margin: 30px 10px 0 0;
border-radius: 3px;
cursor: pointer;
}
.row{
  width:50%;
}

button i{
  margin-left: 20px;
}
button:hover{
  box-shadow: none;
}
.primary-btn{
  background-color: #1eb2ac;
  color:white;
}

#heading{
  text-align: center;
  padding: 40px 0;
}
#heading h3{
font-weight: 600;
letter-spacing: 1px;
color:#1eb2a6;
text-transform: uppercase;

}

#heading h1{
  font-size: 45px;
  margin: 20px 0;
  text-transform: capitalize;
}
p{
  line-height: 30px;
  font-size: 18px;
}

.back{
  background-image: url("../public/images/back.webp");
  /* background-color:rgb(10, 248, 169); */
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  z-index:-1;
  width:100%;
  height:100vh;
  padding-top: 20%;
  padding-right: 50px;
  color:white;
  text-align: center;
}
.back h1{
  font-size: 100px;
  font-weight: 400;
}
.back h2{
  font-size: 17px;
  font-weight: 400;
  text-transform: uppercase;
}
.marigin{
  margin-top: 40%;
}

.grid{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.grid2{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 30px;
}

.grid3{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-gap: 10px;
}

.flex{
  display: flex;
}

.outline-btn{
  margin: 0;
  box-shadow: none;
  border:2px solid #1eb2a6;
  width: 100%;
  transition: 0.5s;
}
.outline-btn:hover{
  background-color: #1eb2a6;
  color:#fff;
}

.padding{
  padding: 80px 0;
}

.shadow{
  box-shadow: 0 5px 25px -2px rgba(0 0 0 /6%);
  background-color: #fff;
}

@media screen and (max-width:768px) {
 .back{
  background-position: center;
  padding-top: 50%;
  height: 80vh;
}
.grid,.grid2,.grid3{
  grid-template-columns: repeat(2,1fr);
}
.marigin{
  margin-top: 85%;
}
}